{% extends "base.html" %}
{% block title %}
  {% if post_edit_flag %}
    Редактировать запись
  {% else %}
    Новая запись
  {% endif %}
{% endblock title %}
{% block content %}
  {% load user_filters %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        {% include 'includes/forms_valid.html' %}
        <div class="card">
          <div class="card-header">
            <form method="post" enctype="multipart/form-data" action='{% if post %}
                {% url 'posts:post_edit' post.pk %} {% else %}
                {% url 'posts:new_post' %} {% endif %}' >
              {% csrf_token %}
              {% include 'includes/form_line.html' %}
              <div class="col-md-6 offset-md-4">
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">
                    {% if post_edit_flag %}
                      Редактировать запись
                    {% else %}
                      Добавить запись
                    {% endif %}
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
